/* TODO: FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ! roots */
:root {
    /* * colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3d141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;
    /* * font size */
    --font-size-s: .9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;
    /* * font weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    /* * border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;
    /* * site max width */
    --site-max-width: 1300px;
}

/* ? global styles */
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    color: var(--white-color);
    transition: .3s ease-in-out;
    font-family: 'Miniver', cursive;
}

span:hover {
    color: var(--secondary-color);
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-center {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

/* ? navbar styles */
header {
    background-color: var(--primary-color);
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-logo .text-logo {
    color: var(--white-color);
    padding: 10px 0;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semi-bold);
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    font-size: var(--font-size-m);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    transition: transform .3s ease-in-out, background .3s ease-in-out, color .3s ease-in-out;
}

.navbar .nav-menu .nav-link:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

/* ? hero section styles */
.hero-section {
    background: var(--primary-color);
    min-height: 100vh;
}

.hero-section .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    min-height: 100vh;
}

.hero-section .hero-text .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: 'Miniver', sans-serif;
}

.hero-section .hero-text .subtitle {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semi-bold);
    color: var(--white-color);
    margin-top: 8px;
    max-width: 70%;
}

.hero-section .hero-text .description {
    font-size: var(--font-size-m);
    color: var(--white-color);
    margin: 24px 0 40px;
    max-width: 70%;
}

.hero-section .hero-text .btns {
    display: flex;
    gap: 23px;
    margin-left: 10px;
}

.hero-section .hero-text .btn {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    transition: .3s ease;
}

.hero-section .hero-text .learn-more {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    background-color: transparent;
}

.hero-section .hero-text .btn:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    background-color: transparent;
    box-shadow: 0 0 22px var(--secondary-color),
                0 0 44px var(--primary-color);
}

.hero-section .hero-section-image {
    max-width: 450px;
    margin-right: 30px;
}

/* TODO: responsive styles */
@media screen and (max-width: 900px) {
    /* ? root in media */
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--white-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        width: 300px;
        height: 100%;
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        font-size: var(--font-size-l);
        display: block;
        margin-top: 17px;
    }
}