/* TODO: FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ! roots */
:root {
    /* * colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3d141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;
    /* * font size */
    --font-size-s: .9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;
    /* * font weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    /* * border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;
    /* * site max width */
    --site-max-width: 1300px;
}

/* ? global styles */
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    color: var(--white-color);
    transition: .3s ease-in-out;
    font-family: 'Miniver', cursive;
}

span:hover {
    color: var(--secondary-color);
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(font-size-xl);
    color: var(--dark-color);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    background: var(--secondary-color);
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
}

/* ? navbar styles */
header {
    background-color: var(--primary-color);
    width: 100%;
    position: fixed;
    z-index: 5;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-logo .text-logo {
    color: var(--white-color);
    padding: 10px 0;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semi-bold);
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    font-size: var(--font-size-m);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    transition: transform .3s ease-in-out, background .3s ease-in-out, color .3s ease-in-out;
}

.navbar .nav-menu .nav-link:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.navbar :where(#menu-cls-btn, #menu-open-btn) {
    display: none;
}

/* ? hero section styles */
.hero-section {
    background: var(--primary-color);
    min-height: 100vh;
}

.hero-section .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    min-height: 100vh;
}

.hero-section .hero-text .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: 'Miniver', sans-serif;
}

.hero-section .hero-text .subtitle {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semi-bold);
    color: var(--white-color);
    margin-top: 8px;
    max-width: 70%;
}

.hero-section .hero-text .description {
    font-size: var(--font-size-m);
    color: var(--white-color);
    margin: 24px 0 40px;
    max-width: 70%;
}

.hero-section .hero-text .btns {
    display: flex;
    gap: 23px;
    margin-left: 10px;
}

.hero-section .hero-text .btn {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    transition: .3s ease;
}

.hero-section .hero-text .learn-more {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    background-color: transparent;
}

.hero-section .hero-text .btn:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    background-color: transparent;
    box-shadow: 0 0 22px var(--secondary-color),
                0 0 44px var(--primary-color);
}

.hero-section .hero-section-image {
    max-width: 450px;
    margin-right: 30px;
}

/* ?about section styles */
.about-section {
    padding: 120px 0;
    background: var(--light-pink-color);
}

.about-section .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.about-section .about-section-image .about-image {
    width: 400px;
    height: 400px;
    border-radius: var(--border-radius-circle);
    object-fit: cover;
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    font-size: var(--font-size-m);
    margin: 50px 0 30px;
    text-align: center;
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .social-link-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.about-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(font-size-l);
    transition: .2s ease;
}

.about-section .social-link-list .social-link:hover {
    color: var(--secondary-color);
}

/* ? menu section styles */
.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* TODO: responsive styles */
@media screen and (max-width: 900px) {
    /* ? root in media */
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    /* ?styles navbar in media */
    .navbar :where(#menu-cls-btn, #menu-open-btn) {
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-cls-btn {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .navbar #menu-open-btn {
        color: var(--white-color);
        transition: color .3s ease-in-out;
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -300px;
        background: var(--white-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        width: 300px;
        height: 100%;
        transition: left .3s ease-in-out;
    }

    body.menu-open .navbar .nav-menu {
        left: 0;
    }

    body.menu-open header::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, .2);
        transition: .3s ease-in-out;
    }

    #menu-open-btn:hover {
        color: var(--secondary-color);
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        font-size: var(--font-size-l);
        display: block;
        margin-top: 17px;
    }

    /* ?styles hero in media */
    .hero-section .section-content {
        gap: 50px;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .hero-section .hero-text :is(.subtitle, .description),
    .about-section .about-details {
        max-width: 100%;
    }

    .hero-section .hero-text .btns {
        justify-content: center;
    }

    .hero-section .hero-section-image {
        max-width: 300px;
        margin-right: 0;
    }

    /* ? styles about section in media */
    .about-section .section-content {
        flex-direction: column-reverse;
        gap: 70px;
    }

    .about-section .about-section-image .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }
}